
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

div.forgot-form-container(tg-forgot-password)
    p.forgot-text
        span(translate="FORGOT_PASSWORD_FORM.TITLE")
        br
        span(translate="FORGOT_PASSWORD_FORM.SUBTITLE")

    form
        label Forgot password is disable
        .register-text
            a(href="", tg-nav="login", translate="FORGOT_PASSWORD_FORM.LINK_CANCEL")
